.homeContainer {
  height: 100%;
}

.homeContainer::before {
  background-image: url("../../Images/homeBackground.png");
  opacity: 0.2;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
